PORT=5000
MONGODB_URI=mongodb://prabhatjaidiya_db_user:CCEGf2T38pPTRIqf@ac-7ikrjng-shard-00-00.e57mf2e.mongodb.net:27017,ac-7ikrjng-shard-00-01.e57mf2e.mongodb.net:27017,ac-7ikrjng-shard-00-02.e57mf2e.mongodb.net:27017/?ssl=true&replicaSet=atlas-10cy5h-shard-0&authSource=admin&appName=job-tracker-cluster
JWT_SECRET=prabhatpalakupadhyay